body {
    background-color: #f5f5f5;
    height: 100%;
}

.main-body{
    height: 100%;
    width:100%;
}

.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}

#main-content {
    padding: 2em 3em;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fx-navbar-white{
    background-color: #ffffff;
}
.navbar{
    margin-bottom: 0px;
}

.topic{
    background-color: #28a745;
    text-align: center;
    color: #fff;
}
.topic p {
    margin: 0 0 0px;
}

#date-body, #time-body, #page-body{
    width: 50%;
    background-color: #2d3339;
    color: #fff;
    text-align: center;
}

.table-dark{
    border-color: #666666;
    background-color: #2d3339;
    color: #fff;
    margin-bottom: 3px;
}

.table-dark tbody{
    border-radius: 10px, 0px;
    border-color: #666666;
}
.table-dark thead{
    border-radius: 0px, 10px;
    border-color: #666666;
}

.table-dark th{
    text-align: center;
    vertical-align:middle !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
}
.table-dark td {
    background-color: #394047;
    height: 100%;
    text-align: right;
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.table-show {
  empty-cells: show;
}

.td-cur{
    position: relative;
}
.td-cur-e{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.th-cur{
    background-color: #0077b3;
}
.th-buy{
    background-color: #00cc66;
}
.th-sell{
    background-color: #ff4d4d;
}
.td-cur{
}
.td-buy{
    color: #00cc66;
}
.td-sell{
    color: #ffff66;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-topic{
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
}

@media all and (orientation:portrait) {
    .font-table-th{
        font-size:2.7vw;
    }
    .font-table-sub-th{
        font-size:2vw;
    }
    .font-table-td{
        font-size:3.8vw;
    }
    .rat-p-100-l-50{
        padding: 5px;
        width:100%;
        float:left;
    }
    .rat-p-0-l-50{
        padding: 5px;
        width:0%;
        float:left;
    }
}

@media all and (orientation:landscape) {
    .font-table-th{
        font-size:1.5vw;
    }
    .font-table-sub-th{
        font-size:.9vw;
    }
    .font-table-td{
        font-size:2.3vw;
    }
    .rat-p-100-l-50{
        padding: 5px;
        width:50%;
        float:left;
    }
    .rat-p-0-l-50{
        padding: 5px;
        width:50%;
        float:left;
    }
}