/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */
@media (min-width: 2048px) {
    .flag {
        display: inline-block;
        width: 64px;
        height: 64px;
        background: url('flags.png') no-repeat;
    }


    .flag.flag-ad {
        background-position: -64px 0;
    }

    .flag.flag-ae {
        background-position: -128px 0;
    }

    .flag.flag-af {
        background-position: -192px 0;
    }

    .flag.flag-ag {
        background-position: -256px 0;
    }

    .flag.flag-ai {
        background-position: -320px 0;
    }

    .flag.flag-al {
        background-position: -384px 0;
    }

    .flag.flag-am {
        background-position: -448px 0;
    }

    .flag.flag-an {
        background-position: -512px 0;
    }

    .flag.flag-ao {
        background-position: -576px 0;
    }

    .flag.flag-ar {
        background-position: -640px 0;
    }

    .flag.flag-as {
        background-position: -704px 0;
    }

    .flag.flag-at {
        background-position: -768px 0;
    }

    .flag.flag-au {
        background-position: -832px 0;
    }

    .flag.flag-aw {
        background-position: -896px 0;
    }

    .flag.flag-ax {
        background-position: -960px 0;
    }

    .flag.flag-az {
        background-position: 0 -64px;
    }

    .flag.flag-ba {
        background-position: -64px -64px;
    }

    .flag.flag-bb {
        background-position: -128px -64px;
    }

    .flag.flag-bd {
        background-position: -192px -64px;
    }

    .flag.flag-be {
        background-position: -256px -64px;
    }

    .flag.flag-bf {
        background-position: -320px -64px;
    }

    .flag.flag-bg {
        background-position: -384px -64px;
    }

    .flag.flag-bh {
        background-position: -448px -64px;
    }

    .flag.flag-bi {
        background-position: -512px -64px;
    }

    .flag.flag-bj {
        background-position: -576px -64px;
    }

    .flag.flag-bl {
        background-position: -640px -64px;
    }

    .flag.flag-bm {
        background-position: -704px -64px;
    }

    .flag.flag-bn {
        background-position: -768px -64px;
    }

    .flag.flag-bo {
        background-position: -832px -64px;
    }

    .flag.flag-br {
        background-position: -896px -64px;
    }

    .flag.flag-bs {
        background-position: -960px -64px;
    }

    .flag.flag-bt {
        background-position: 0 -128px;
    }

    .flag.flag-bw {
        background-position: -64px -128px;
    }

    .flag.flag-by {
        background-position: -128px -128px;
    }

    .flag.flag-bz {
        background-position: -192px -128px;
    }

    .flag.flag-ca {
        background-position: -256px -128px;
    }

    .flag.flag-cd {
        background-position: -320px -128px;
    }

    .flag.flag-cf {
        background-position: -384px -128px;
    }

    .flag.flag-cg {
        background-position: -448px -128px;
    }

    .flag.flag-ch {
        background-position: -512px -128px;
    }

    .flag.flag-ci {
        background-position: -576px -128px;
    }

    .flag.flag-ck {
        background-position: -640px -128px;
    }

    .flag.flag-cl {
        background-position: -704px -128px;
    }

    .flag.flag-cm {
        background-position: -768px -128px;
    }

    .flag.flag-cn {
        background-position: -832px -128px;
    }

    .flag.flag-co {
        background-position: -896px -128px;
    }

    .flag.flag-cr {
        background-position: -960px -128px;
    }

    .flag.flag-cu {
        background-position: 0 -192px;
    }

    .flag.flag-cv {
        background-position: -64px -192px;
    }

    .flag.flag-cw {
        background-position: -128px -192px;
    }

    .flag.flag-cy {
        background-position: -192px -192px;
    }

    .flag.flag-cz {
        background-position: -256px -192px;
    }

    .flag.flag-de {
        background-position: -320px -192px;
    }

    .flag.flag-dj {
        background-position: -384px -192px;
    }

    .flag.flag-dk {
        background-position: -448px -192px;
    }

    .flag.flag-dm {
        background-position: -512px -192px;
    }

    .flag.flag-do {
        background-position: -576px -192px;
    }

    .flag.flag-dz {
        background-position: -640px -192px;
    }

    .flag.flag-ec {
        background-position: -704px -192px;
    }

    .flag.flag-ee {
        background-position: -768px -192px;
    }

    .flag.flag-eg {
        background-position: -832px -192px;
    }

    .flag.flag-eh {
        background-position: -896px -192px;
    }

    .flag.flag-er {
        background-position: -960px -192px;
    }

    .flag.flag-es {
        background-position: 0 -256px;
    }

    .flag.flag-et {
        background-position: -64px -256px;
    }

    .flag.flag-eu {
        background-position: -128px -256px;
    }

    .flag.flag-fi {
        background-position: -192px -256px;
    }

    .flag.flag-fj {
        background-position: -256px -256px;
    }

    .flag.flag-fk {
        background-position: -320px -256px;
    }

    .flag.flag-fm {
        background-position: -384px -256px;
    }

    .flag.flag-fo {
        background-position: -448px -256px;
    }

    .flag.flag-fr {
        background-position: -512px -256px;
    }

    .flag.flag-ga {
        background-position: -576px -256px;
    }

    .flag.flag-gb {
        background-position: -640px -256px;
    }

    .flag.flag-gd {
        background-position: -704px -256px;
    }

    .flag.flag-ge {
        background-position: -768px -256px;
    }

    .flag.flag-gg {
        background-position: -832px -256px;
    }

    .flag.flag-gh {
        background-position: -896px -256px;
    }

    .flag.flag-gi {
        background-position: -960px -256px;
    }

    .flag.flag-gl {
        background-position: 0 -320px;
    }

    .flag.flag-gm {
        background-position: -64px -320px;
    }

    .flag.flag-gn {
        background-position: -128px -320px;
    }

    .flag.flag-gq {
        background-position: -192px -320px;
    }

    .flag.flag-gr {
        background-position: -256px -320px;
    }

    .flag.flag-gs {
        background-position: -320px -320px;
    }

    .flag.flag-gt {
        background-position: -384px -320px;
    }

    .flag.flag-gu {
        background-position: -448px -320px;
    }

    .flag.flag-gw {
        background-position: -512px -320px;
    }

    .flag.flag-gy {
        background-position: -576px -320px;
    }

    .flag.flag-hk {
        background-position: -640px -320px;
    }

    .flag.flag-hn {
        background-position: -704px -320px;
    }

    .flag.flag-hr {
        background-position: -768px -320px;
    }

    .flag.flag-ht {
        background-position: -832px -320px;
    }

    .flag.flag-hu {
        background-position: -896px -320px;
    }

    .flag.flag-ic {
        background-position: -960px -320px;
    }

    .flag.flag-id {
        background-position: 0 -384px;
    }

    .flag.flag-ie {
        background-position: -64px -384px;
    }

    .flag.flag-il {
        background-position: -128px -384px;
    }

    .flag.flag-im {
        background-position: -192px -384px;
    }

    .flag.flag-in {
        background-position: -256px -384px;
    }

    .flag.flag-iq {
        background-position: -320px -384px;
    }

    .flag.flag-ir {
        background-position: -384px -384px;
    }

    .flag.flag-is {
        background-position: -448px -384px;
    }

    .flag.flag-it {
        background-position: -512px -384px;
    }

    .flag.flag-je {
        background-position: -576px -384px;
    }

    .flag.flag-jm {
        background-position: -640px -384px;
    }

    .flag.flag-jo {
        background-position: -704px -384px;
    }

    .flag.flag-jp {
        background-position: -768px -384px;
    }

    .flag.flag-ke {
        background-position: -832px -384px;
    }

    .flag.flag-kg {
        background-position: -896px -384px;
    }

    .flag.flag-kh {
        background-position: -960px -384px;
    }

    .flag.flag-ki {
        background-position: 0 -448px;
    }

    .flag.flag-km {
        background-position: -64px -448px;
    }

    .flag.flag-kn {
        background-position: -128px -448px;
    }

    .flag.flag-kp {
        background-position: -192px -448px;
    }

    .flag.flag-kr {
        background-position: -256px -448px;
    }

    .flag.flag-kw {
        background-position: -320px -448px;
    }

    .flag.flag-ky {
        background-position: -384px -448px;
    }

    .flag.flag-kz {
        background-position: -448px -448px;
    }

    .flag.flag-la {
        background-position: -512px -448px;
    }

    .flag.flag-lb {
        background-position: -576px -448px;
    }

    .flag.flag-lc {
        background-position: -640px -448px;
    }

    .flag.flag-li {
        background-position: -704px -448px;
    }

    .flag.flag-lk {
        background-position: -768px -448px;
    }

    .flag.flag-lr {
        background-position: -832px -448px;
    }

    .flag.flag-ls {
        background-position: -896px -448px;
    }

    .flag.flag-lt {
        background-position: -960px -448px;
    }

    .flag.flag-lu {
        background-position: 0 -512px;
    }

    .flag.flag-lv {
        background-position: -64px -512px;
    }

    .flag.flag-ly {
        background-position: -128px -512px;
    }

    .flag.flag-ma {
        background-position: -192px -512px;
    }

    .flag.flag-mc {
        background-position: -256px -512px;
    }

    .flag.flag-md {
        background-position: -320px -512px;
    }

    .flag.flag-me {
        background-position: -384px -512px;
    }

    .flag.flag-mf {
        background-position: -448px -512px;
    }

    .flag.flag-mg {
        background-position: -512px -512px;
    }

    .flag.flag-mh {
        background-position: -576px -512px;
    }

    .flag.flag-mk {
        background-position: -640px -512px;
    }

    .flag.flag-ml {
        background-position: -704px -512px;
    }

    .flag.flag-mm {
        background-position: -768px -512px;
    }

    .flag.flag-mn {
        background-position: -832px -512px;
    }

    .flag.flag-mo {
        background-position: -896px -512px;
    }

    .flag.flag-mp {
        background-position: -960px -512px;
    }

    .flag.flag-mq {
        background-position: 0 -576px;
    }

    .flag.flag-mr {
        background-position: -64px -576px;
    }

    .flag.flag-ms {
        background-position: -128px -576px;
    }

    .flag.flag-mt {
        background-position: -192px -576px;
    }

    .flag.flag-mu {
        background-position: -256px -576px;
    }

    .flag.flag-mv {
        background-position: -320px -576px;
    }

    .flag.flag-mw {
        background-position: -384px -576px;
    }

    .flag.flag-mx {
        background-position: -448px -576px;
    }

    .flag.flag-my {
        background-position: -512px -576px;
    }

    .flag.flag-mz {
        background-position: -576px -576px;
    }

    .flag.flag-na {
        background-position: -640px -576px;
    }

    .flag.flag-nc {
        background-position: -704px -576px;
    }

    .flag.flag-ne {
        background-position: -768px -576px;
    }

    .flag.flag-nf {
        background-position: -832px -576px;
    }

    .flag.flag-ng {
        background-position: -896px -576px;
    }

    .flag.flag-ni {
        background-position: -960px -576px;
    }

    .flag.flag-nl {
        background-position: 0 -640px;
    }

    .flag.flag-no {
        background-position: -64px -640px;
    }

    .flag.flag-np {
        background-position: -128px -640px;
    }

    .flag.flag-nr {
        background-position: -192px -640px;
    }

    .flag.flag-nu {
        background-position: -256px -640px;
    }

    .flag.flag-nz {
        background-position: -320px -640px;
    }

    .flag.flag-om {
        background-position: -384px -640px;
    }

    .flag.flag-pa {
        background-position: -448px -640px;
    }

    .flag.flag-pe {
        background-position: -512px -640px;
    }

    .flag.flag-pf {
        background-position: -576px -640px;
    }

    .flag.flag-pg {
        background-position: -640px -640px;
    }

    .flag.flag-ph {
        background-position: -704px -640px;
    }

    .flag.flag-pk {
        background-position: -768px -640px;
    }

    .flag.flag-pl {
        background-position: -832px -640px;
    }

    .flag.flag-pn {
        background-position: -896px -640px;
    }

    .flag.flag-pr {
        background-position: -960px -640px;
    }

    .flag.flag-ps {
        background-position: 0 -704px;
    }

    .flag.flag-pt {
        background-position: -64px -704px;
    }

    .flag.flag-pw {
        background-position: -128px -704px;
    }

    .flag.flag-py {
        background-position: -192px -704px;
    }

    .flag.flag-qa {
        background-position: -256px -704px;
    }

    .flag.flag-ro {
        background-position: -320px -704px;
    }

    .flag.flag-rs {
        background-position: -384px -704px;
    }

    .flag.flag-ru {
        background-position: -448px -704px;
    }

    .flag.flag-rw {
        background-position: -512px -704px;
    }

    .flag.flag-sa {
        background-position: -576px -704px;
    }

    .flag.flag-sb {
        background-position: -640px -704px;
    }

    .flag.flag-sc {
        background-position: -704px -704px;
    }

    .flag.flag-sd {
        background-position: -768px -704px;
    }

    .flag.flag-se {
        background-position: -832px -704px;
    }

    .flag.flag-sg {
        background-position: -896px -704px;
    }

    .flag.flag-sh {
        background-position: -960px -704px;
    }

    .flag.flag-si {
        background-position: 0 -768px;
    }

    .flag.flag-sk {
        background-position: -64px -768px;
    }

    .flag.flag-sl {
        background-position: -128px -768px;
    }

    .flag.flag-sm {
        background-position: -192px -768px;
    }

    .flag.flag-sn {
        background-position: -256px -768px;
    }

    .flag.flag-so {
        background-position: -320px -768px;
    }

    .flag.flag-sr {
        background-position: -384px -768px;
    }

    .flag.flag-ss {
        background-position: -448px -768px;
    }

    .flag.flag-st {
        background-position: -512px -768px;
    }

    .flag.flag-sv {
        background-position: -576px -768px;
    }

    .flag.flag-sy {
        background-position: -640px -768px;
    }

    .flag.flag-sz {
        background-position: -704px -768px;
    }

    .flag.flag-tc {
        background-position: -768px -768px;
    }

    .flag.flag-td {
        background-position: -832px -768px;
    }

    .flag.flag-tf {
        background-position: -896px -768px;
    }

    .flag.flag-tg {
        background-position: -960px -768px;
    }

    .flag.flag-th {
        background-position: 0 -832px;
    }

    .flag.flag-tj {
        background-position: -64px -832px;
    }

    .flag.flag-tk {
        background-position: -128px -832px;
    }

    .flag.flag-tl {
        background-position: -192px -832px;
    }

    .flag.flag-tm {
        background-position: -256px -832px;
    }

    .flag.flag-tn {
        background-position: -320px -832px;
    }

    .flag.flag-to {
        background-position: -384px -832px;
    }

    .flag.flag-tr {
        background-position: -448px -832px;
    }

    .flag.flag-tt {
        background-position: -512px -832px;
    }

    .flag.flag-tv {
        background-position: -576px -832px;
    }

    .flag.flag-tw {
        background-position: -640px -832px;
    }

    .flag.flag-tz {
        background-position: -704px -832px;
    }

    .flag.flag-ua {
        background-position: -768px -832px;
    }

    .flag.flag-ug {
        background-position: -832px -832px;
    }

    .flag.flag-us {
        background-position: -896px -832px;
    }

    .flag.flag-uy {
        background-position: -960px -832px;
    }

    .flag.flag-uz {
        background-position: 0 -896px;
    }

    .flag.flag-va {
        background-position: -64px -896px;
    }

    .flag.flag-vc {
        background-position: -128px -896px;
    }

    .flag.flag-ve {
        background-position: -192px -896px;
    }

    .flag.flag-vg {
        background-position: -256px -896px;
    }

    .flag.flag-vi {
        background-position: -320px -896px;
    }

    .flag.flag-vn {
        background-position: -384px -896px;
    }

    .flag.flag-vu {
        background-position: -448px -896px;
    }

    .flag.flag-wf {
        background-position: -512px -896px;
    }

    .flag.flag-ws {
        background-position: -576px -896px;
    }

    .flag.flag-ye {
        background-position: -640px -896px;
    }

    .flag.flag-yt {
        background-position: -704px -896px;
    }

    .flag.flag-za {
        background-position: -768px -896px;
    }

    .flag.flag-zm {
        background-position: -832px -896px;
    }

    .flag.flag-zw {
        background-position: -896px -896px;
    }
}
